{% extends 'base.html.twig' %}

{% block title %}Créer son compte{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div class="my-2 col-md-3">
        <a class="btn btn-warning" href="{{ path("home") }}">Accueil</a>

        <h3 class="mt-3">Créer son compte</h3>

        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email, {
                label: 'Email'
            }) }}
            {{ form_row(registrationForm.password, {
                label: 'Mot de passe'
            }) }}
            {{ form_row(registrationForm.agreeTerms, {
                label: 'Accepter les termes'
            }) }}
            <button type="submit" class="btn btn-lg btn-primary">S'enregistrer</button>
        {{ form_end(registrationForm) }}
        <h3 class="mt-5">Déjà un compte?</h3>
        <a href=" {{ path('app_login')}} " class="btn btn-lg btn-primary">Connectez vous</a>
    </div>
{% endblock %}
