{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>Utilisateurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                {# <th class="d-lg-flex d-none">Role</th> #}
                <th>Role</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                {# <td class="d-lg-flex d-none"> #}
                <td>
                    {% if user.roles[0] == "ROLE_USER" %}
                    Utilisateur
                    {% elseif user.roles[0] == "ROLE_WRITER" %}
                    Ecrivain
                    {% elseif user.roles[0] == "ROLE_MODERATOR" %}
                    Modérateur
                    {% else %}
                    Administrateur
                    {% endif %}
                </td>
                <td>
                    <a
                    class="btn button button-success mb-lg-auto mb-xs-5"
                    href="{{ path('user_show', {'id': user.id}) }}">
                        Voir
                    </a>
                    <a
                    class="btn button button-warning"
                    href="{{ path('user_edit', {'id': user.id}) }}">
                        Modifier
                    </a>
                    {# http://storydrawer.fr/_switch_user=vincent.ouallet2@yahoo.fr #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Pas d'utilisateurs</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a
    class="btn button button-primary"
    href="{{ path('user_new') }}">Nouvel utilisateur</a>
{% endblock %}
